* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #1f1f29;
  display: grid;
}

/* 
main
*/
main {
  margin: 0 auto;
  width: 100%;
}

main .title {
  margin-top: 40px;
  text-align: center;
}

/* 
card
*/

.content {
  margin-top: 10px;
  min-height: 100vh;
}

.content__heading {
  text-align: center;
  font-size: 18px;
}

.card__list {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card__item {
  border-radius: 10px;
  background-color: #f5f5fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  position: relative;
  width: 100%;
}

.card__item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card__item h3 {
  position: absolute;
  background-color: #000000c5;
  color: #fdd037;
  font-size: medium;
  margin-top: 12px;
  padding: 9px;
  border-radius: 0 5px 5px 0;
}

.card__item p {
  margin: 10px;
  font-size: 13px;
}

.card__item h4 {
  margin: 10px;
  font-size: 16px;
}

.card__item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__list .no__results {
  text-align: center;
  font-size: 15px;
  grid-column: 1 / -1;
  gap: 0;
}

.card__list img.no__results {
  max-width: 300px;
  margin: auto;
}

/* 
detail restaurant
*/
.restaurant {
  margin: 15px;
  background-color: #f5f5fa;
  border-radius: 5px;
}

.restaurant img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 5px;
}

.restaurant .title {
  background-color: #fdd037;
  border-radius: 0 0 0 5px;
  margin-top: -10px;
  padding: 10px 15px;
  font-size: 13px;
}

.restaurant .name {
  margin-top: 10px;
}

.restaurant .address {
  margin: 10px;
}

.restaurant h3 {
  font-size: 16px;
}

.restaurant p {
  font-size: 14px;
}

.restaurant .description,
.restaurant-menu-title
{
  margin-top: 13px;
  padding: 0 10px;
}

.restaurant-menu-title {
  text-align: center;
}

.restaurant-menu {
  font-size: 14px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr;
}

.restaurant-menu .foods,
.restaurant-menu .drinks {
  margin: 10px auto 0 30px;
}

.restaurant-menu ul li {
  font-weight: 300;
  margin-left: 20px;
}

.restaurant .review-container-title {
  background-color: #e6e6eb;
  margin-top: 20px;
  padding: 10px;
}

.restaurant .review-container {
  padding: 10px 15px;
  display: grid;
  gap: 10px;
  background-color: #e6e6eb;
}

/* 
review form
 */
 #addReviewContainer {
  background-color: #f5f5fa;
  margin: 12px;
  padding: 10px 13px;
  border-radius: 5px;
 }

 #reviewForm .title-review-form {
  font-size: 16px;
  margin-bottom: 5px;
 }

 #reviewForm {
  display: grid;
  max-width: 500px;
  margin: 0 auto;
 }

 #reviewForm label {
  font-size: 14px;
  margin-top: 12px;
 }

 #reviewForm input {
  margin-top: 2px;
  min-height: 44px;
  border-radius: 2px;
  border: #f3d571c0 solid 1px;
  font-size: 15px;
 }

 #reviewForm input:focus {
  outline: 2px solid #fdd037;
}

 #reviewForm button {
  background-color: #dbd5d5;
  margin-top: 10px;
  min-height: 44px;
  max-width: 100px;
  border: none;
  border-radius: 2px;
 }

 #reviewForm button:hover {
  background-color: #e9dede;
 }

/* 
favorite
*/
.favorite {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* 
Footer
*/
footer {
  background-color: #e6e6eb;
  margin-top: auto;
}

footer p {
  color: black;
  font-weight: 400;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

/* 
Skip to content
*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 10px;
  z-index: 9999;
}

.skip-link:focus {
  top: 0;
}